.favourList{
    // margin-top: 100px;
    nav{
        ul{
            width: 400px;
            margin: 10px auto;
        }
        li{
            button{
                color: white !important;
            }
        }
    }
}