body {
  background-color: black !important;
}
.comment-action {
  padding-left: 8px;
  cursor: "auto";
}

[class*="-col-rtl"] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}
.ant-comment {
  margin-top: 90px;
  background-color: white !important;
}
div.addList {
  div.noFavour {
    text-align: center;
    color: white;
  }
  div.container {
    // border: 1px solid white;
    margin-left: 240px;
    // margin-right: 40px;
    display: flex;
    div.left_container {
      flex: 6;
      // border: 1px solid white;
      h2{
        color: white;
        margin-bottom: 20px;
      }
    }
    div.right_container {
      flex: 4;
    }
  }
}
