div.searchDiv {
  div.container {
    div.navBox {
      height: 30px;
      margin-left: 80px;
      margin-right: 80px;
      // background-color: gray;
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      .css-1oaaite-MuiTypography-root-MuiLink-root {
        color: white;
        line-height: 30px;
      }
      .css-1oaaite-MuiTypography-root-MuiLink-root:first-child {
        border-bottom: 5px solid #990000;
      }
      .css-1oaaite-MuiTypography-root-MuiLink-root:not(:first-child) {
        margin-left: 30px;
      }
    }
    div.filterBox {
      margin-top: 20px;
      margin-left: 80px;
      margin-right: 80px;
      width: 400px;
      height: 200px;
      background-color: gray;
      color: white;
      ul {
        padding: 5px;
        display: flex;
        flex-direction: row;
        span {
          line-height: 30px;
        }
        li {
          list-style: none;
          margin-left: 10px;
          line-height: 30px;
          .css-1oaaite-MuiTypography-root-MuiLink-root {
            color: white;
          }
        }
      }
    }
    .word {
      color: white;
    }
    div.container_left {
      display: flex;
      flex-direction: row;
      div.left-l {
        flex: 7;
        height: 100%;
      }
      div.right-r {
        flex: 3;
        height: 100%;
        // background-color: white;
        margin-top: 140px;
        margin-right: 50px;
        margin-left: 20px;
        color: black;
        h4 {
          color: white;
          margin-bottom: 10px;
        }
        div.relevant {
          background-color: white;
          ul{
            span{
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 15px;
              background-color: #726e6e;
              text-align: center;
            }
            list-style-type: none;
            padding: 10px;
            li{
              margin-top: 10px;
              &:nth-child(1){
                span{
                  background-color: #990000;
                }
              }
              &:nth-child(2){
                span{
                  background-color: #db0b0b;
                }
              }
              &:nth-child(3){
                span{
                  background-color: #fd1010;
                }
              }
              a{
                color: black;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
