.newPopular {
  background-color: var(--main-color);
  .css-8atqhb {
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: #990000 !important;
    font-size: larger;
  }
  .css-1aquho2-MuiTabs-indicator {
    background-color: white;
  }
  .css-ahj2mt-MuiTypography-root {
    color: white;
  }
}
